

.index-grid {
    display: grid;
    grid-template-columns: 1fr 250px;
}
#titles {
    grid-column: 1/2;
    grid-row-start: 1;
    float: left;
    width: 70%; 
    margin: 20px auto; 
    border: 1px solid black; 
    padding: 10px;
    clear:both;
    overflow: auto;
}
.title-2{
    grid-row: 1/2;
    margin-bottom: 30px;
}
.title-3{
    margin-bottom: 30px;
}
.title-4{
    margin-bottom: 30px;
}
.title-5{
    margin-bottom: 30px;
}
.title-6{
    margin-bottom: 30px;
}
.title-7{
    margin-bottom: 30px;
}
.title-8{
    margin-bottom: 30px;
}
.title-9{
    margin-bottom: 30px;
}
.title-10{
    margin-bottom: 30px;
}
.title-11{
    margin-bottom: 30px;
}