@media (min-width: 32.5em) {
    h1 {
        font-family: 'Lemon', cursive;
    }
    
    footer {
        background-color: aquamarine;
        height: 160px;
        justify-items: center;
        display: grid;
        grid-template-rows: 1fr 1fr;
    }
}